# Architecture
BR2_mipsel=y
BR2_cortex_a53=y
BR2_MIPS_FP32_MODE_32=y
BR2_MIPS_SOFT_FLOAT=n
BR2_PIC_PIE=n
BR2_RELRO_NONE=y
BR2_PACKAGE_LUAJIT_ARCH_SUPPORTS=y
BR2_PACKAGE_JPEG_TURBO=y

# Debug
BR2_ENABLE_DEBUG=y
BR2_ENABLE_RUNTIME_DEBUG=y
BR2_DEBUG_3=y
BR2_OPTIMIZE_G=y
BR2_ENABLE_LTO=y
BR2_STRIP_strip=n
BR2_GDB_VERSION="11.2"
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_DEBUGGER=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_VALGRIND=y

# Audio
BR2_PACKAGE_TINYALSA=y
BR2_PACKAGE_TINYALSA_TOOLS=y

# Cores
BR2_PACKAGE_81=y
BR2_PACKAGE_A5200=y
BR2_PACKAGE_ARDUOUS=y
BR2_PACKAGE_ATARI800=y
BR2_PACKAGE_BLUEMSX=y
BR2_PACKAGE_CROCODS=y
BR2_PACKAGE_DOSBOX_PURE=y
BR2_PACKAGE_FAKE08=y
BR2_PACKAGE_FBALPHA2012=y
BR2_PACKAGE_FBALPHA2012_NEOGEO=y
BR2_PACKAGE_FBNEO=y
BR2_PACKAGE_FCEUMM=y
BR2_PACKAGE_FREECHAF=y
BR2_PACKAGE_FREEINTV=y
BR2_PACKAGE_FUSE=y
BR2_PACKAGE_GAMBATTE=y
BR2_PACKAGE_GEARSYSTEM=y
BR2_PACKAGE_GENESIS_PLUS_GX=y
BR2_PACKAGE_GPSP=y
BR2_PACKAGE_GW=y
BR2_PACKAGE_HANDY=y
BR2_PACKAGE_HATARI=y
BR2_PACKAGE_MAME2000=y
BR2_PACKAGE_MAME2003_XTREME=y
BR2_PACKAGE_MGBA=y
BR2_PACKAGE_MUPEN64PLUS_NX=y
BR2_PACKAGE_NEKOP2=y
BR2_PACKAGE_NEOCD=y
BR2_PACKAGE_NESTOPIA=y
BR2_PACKAGE_NGP=y
BR2_PACKAGE_O2EM=y
BR2_PACKAGE_OPERA=y
BR2_PACKAGE_PCE_FAST=y
BR2_PACKAGE_PCFX=y
BR2_PACKAGE_PCSX_REARMED=y
BR2_PACKAGE_PICODRIVE=y
BR2_PACKAGE_POKEMINI=y
BR2_PACKAGE_POTATOR=y
BR2_PACKAGE_PRBOOMLR=y
BR2_PACKAGE_PROSYSTEM=y
BR2_PACKAGE_PUAE2021=y
BR2_PACKAGE_PX68K=y
BR2_PACKAGE_QUASI88=y
BR2_PACKAGE_SAMEDUCK=y
BR2_PACKAGE_SCUMMVM=y
BR2_PACKAGE_SNES9X=y
BR2_PACKAGE_SNES9X2002=y
BR2_PACKAGE_SNES9X2005=y
BR2_PACKAGE_SNES9X2010=y
BR2_PACKAGE_STELLA2014=y
BR2_PACKAGE_SUPAFAUST=y
BR2_PACKAGE_SUPERGRAFX=y
BR2_PACKAGE_TIC80=y
BR2_PACKAGE_TYRQUAKE=y
BR2_PACKAGE_UZEM=y
BR2_PACKAGE_VB=y
BR2_PACKAGE_VECX=y
BR2_PACKAGE_VEMULATOR=y
BR2_PACKAGE_VICE=y
BR2_PACKAGE_VIRTUALJAGUAR=y
BR2_PACKAGE_WSWAN=y
BR2_PACKAGE_X1=y

# Display
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_SWRAST=y
BR2_PACKAGE_MESA3D_OSMESA_GALLIUM=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_SDL2_GFX=y
BR2_PACKAGE_SDL2_IMAGE=y
BR2_PACKAGE_SDL2_MIXER=y
BR2_PACKAGE_SDL2_NET=y
BR2_PACKAGE_SDL2_TTF=y

# Filesystem
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_ROOTFS_F2FS=y
BR2_TARGET_ROOTFS_F2FS_LABEL="rootfs"
BR2_TARGET_ROOTFS_F2FS_SIZE="2048M"
BR2_TARGET_ROOTFS_TAR=n

# Fonts
BR2_PACKAGE_FIRA_SANS=y
BR2_PACKAGE_NOTO_SANS=y
BR2_PACKAGE_OSWALD=y

# GarlicOS
BR2_PACKAGE_AUDIO=y
BR2_PACKAGE_BOOTSCRIPT=y
BR2_PACKAGE_DISPLAY=y
BR2_PACKAGE_GARLICUI=y
BR2_PACKAGE_GAMEPAD=y

# Host
BR2_PACKAGE_HOST_E2FSPROGS=y
BR2_PACKAGE_HOST_RUST=y

# Locale
BR2_ENABLE_LOCALE_PURGE=n
BR2_GENERATE_LOCALE="af_ZA am_ET bg_BG ca_ES cs_CZ da_DK de_DE el_GR en_US es_ES et_EE fi_FI fil_PH fr_FR he_IL hi_IN hr_HR hu_HU id_ID is_IS it_IT ja_JP ko_KR lt_LT lv_LV ms_MY nb_NO nl_NL pl_PL pt_BR pt_PT ro_RO ru_RU sk_SK sl_SI sr_RS sv_SE sw_KE th_TH tr_TR uk_UA vi_VN zh_CN zh_TW zu_ZA"
BR2_SYSTEM_ENABLE_NLS=y
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="Etc/GMT+0"

# Network
BR2_PACKAGE_WIRELESS_REGDB=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WIRELESS_TOOLS_LIB=y
BR2_PACKAGE_WPA_SUPPLICANT=y

# Toolchain
BR2_KERNEL_HEADERS_5_4=y
BR2_PACKAGE_GLIBC_KERNEL_COMPAT=y
BR2_BINUTILS_VERSION_2_39_X=y
BR2_GCC_VERSION_12_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_INSTALL_LIBSTDCPP=y

# Utilities
BR2_PACKAGE_CURLPP=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_CLIENT=n
BR2_PACKAGE_KODI_PLATFORM_SUPPORTS=y
BR2_PACKAGE_KODI_PLATFORM_SUPPORTS_GBM=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_MPV_SUPPORTS_VAAPI=y
